<div id='new_post'>
	<%= render '/shared/new_post' %>
</div>
<div id='recent_posts'>
	<h2>Recent Posts</h2>
	<br/>
	<% @posts.each do |post| %>
		<h3>
			<span class='toggleLink'>
				<%= post.title %>
			</span>
			<%= link_to 'x',
			 		"/#{post.id}",
					:method => :delete,
					:confirm => 'Sure about that?', 
					:class => 'delete' %>
		</h3>
		<div class='toggle'>
			<%= post.content %>
			<br/><br/>
			<span class='creation-date'><%= post.created_at %></span>
			<br/><br/>
			<div class='edit_post_title'>Edit Post</div>
			<div class='edit_post_form'>
				<%= form_for :edit_post, :url => "/#{post.id}", :method => :put do |f| %>

					<%= f.label :title %>
					<%= f.text_field :title, :value => post.title %>

					<%= f.label :mood %>
					<%= f.text_field :mood, :value => post.mood %>

					<%= f.label :content %>
					<%= f.text_area :content, :value => post.content %>
					<br/><br/>
					<%= f.submit 'Update', class: 'submit' %>

				<% end %>
			</div>	
		</div>
		<br/>
	<% end %>

</div>

